.BgColor{
color: red;
text-decoration: initial;
}
.TextColorOrange{
    color: orange;
}
.italic{
    font-style: italic;
}
.LinkColor{
    text-decoration: none;
    text-align: initial;
}
.pageColor{
background-color: lightblue;
}